<div class="clients">
	
	<div class="clients__inner">

		<h2 class="clients__title heading--3">Our Clients</h2>
		
		<ul class="clients__list">
			<li class="clients__list__item">
				<a href="https://www.amista.be/" target="_blank" class="clients__link">
					<span class="clients__label">Amista</span>
				</a>
			</li>

			<li class="clients__list__item">
				<a href="http://www.teintechnology.com/" target="_blank" class="clients__link">
					<span class="clients__label">Tein Technology</span>
				</a>
			</li>

			<li class="clients__list__item">
				<a href="https://aliaxis.com/" target="_blank" class="clients__link">
					<span class="clients__label">Aliaxis</span>
				</a>
			</li>
		</ul>

	</div>
</div>