<div class="contactDetails">

    <div class="contactDetails__inner">
        <div class="contactDetails__content">

            <address class="contactDetails__address">

                <div class="contactDetails__addressWrap">
                    <span class="contactDetails__address__helper">Mail us</span>
                    <a class="contactDetails__address__link" href="mailto:info@semasu.be">welcome@semasu.be</a>
                </div>

                <div class="contactDetails__addressWrap">
                    <span class="contactDetails__address__helper">Call us</span>
                    <a class="contactDetails__address__link" href="tel:+3223034202">+32 2 303 4 202</a>
                </div>

                <span class="contactDetails__theAddress">Vuurgatstraat 120, 3090 Overijse</span>
            </address>

            <div class="contactDetails__social">
                {% include './03_molecules/social.html.twig' %}
            </div>
        </div>
    </div>

    <div class="contactDetails__visual">
        <div class="contactDetails__visual__sizer">
            <div class="contactDetails__visual__reset">
                <img src="dist/img/semasu-contact.jpg" alt="Contact">
            </div>
        </div>
    </div>
</div>
