<div class="credittable">	
	<div class="credittable__tableWrap tableswitch">
		<table class="credittable__table ">
			<thead class="credittable__thead">
				<th class="credittable__th">Explorer</th>
				<th class="credittable__th">Business</th>
				<th class="credittable__th">Premium</th>
			</thead>

			<tbody class="credittable__tbody">
				<tr id="explorer" class="credittable__trow">
					<td class="credittable__td">
						<span class="credittable__td__title">25 credits</span>
						<span class="credittable__td__desc">included in the plan</span>
					</td>
					<td class="credittable__td">
						<span class="credittable__td__title">70 credits</span>
						<span class="credittable__td__desc">included in the plan</span>
					</td>
					<td class="credittable__td">
						<span class="credittable__td__title">200 credits</span>
						<span class="credittable__td__desc">included in the plan</span>
					</td>	
				</tr>
				<tr id="business" class="credittable__trow">
					<td class="credittable__td">
						<span class="credittable__td__title">All Microsoft 365 applications</span>
						<span class="credittable__td__desc">supported</span>
					</td>
					<td class="credittable__td">
						<span class="credittable__td__title">All Microsoft 365 applications</span>
						<span class="credittable__td__desc">supported</span>
					</td>
					<td class="credittable__td">
						<span class="credittable__td__title">All Microsoft 365 applications</span>
						<span class="credittable__td__desc">supported</span>
					</td>
				</tr>
				<tr id="premium" class="credittable__trow">
					<td class="credittable__td">
						<span class="credittable__td__title">6 months</span>
						<span class="credittable__td__desc">credit expiration</span>
					</td>
					<td class="credittable__td">
						<span class="credittable__td__title">1 year</span>
						<span class="credittable__td__desc">credit expiration</span>
					</td>
					<td class="credittable__td">
						<span class="credittable__td__title">2 years</span>
						<span class="credittable__td__desc">credit expiration</span>
					</td>
				</tr>
				<tr class="credittable__trow">
					<td class="credittable__td">
						<span class="credittable__td__title">Next business day</span>
						<span class="credittable__td__desc">response time</span>
					</td>
					<td class="credittable__td">
						<span class="credittable__td__title">Within 8 business hours</span>
						<span class="credittable__td__desc">response time</span>
					</td>
					<td class="credittable__td">
						<span class="credittable__td__title">Within 8 business hours</span>
						<span class="credittable__td__desc">response time</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="credittable__content">
		
		<div class="credittable__content__item">
			<h5 class="credittable__content__title">Pay-as-you-go</h5>
			<p>You don't have to take our word for it. Just try us out first and learn if we can be of help! Reach out, ask your questions... We estimate the cost, and upon agreement, we will provide you with an answer.</p>
		</div>	

		<div class="credittable__content__item">
			<h5 class="credittable__content__title">Enterprise</h5>
			<p>Looking for solid SLA's for your company? Talk to us about our professional support and adoption services, ITIL flavored.</p>
		</div>	

	</div>

</div>