<div class="footerNav">
	
	<nav class="footerNav__item footerNav__item--primary">
		<ul class="footerNav__list">
			<li class="footerNav__list__item">
				<a href="/value-for-users" class="footerNav__link">Value for users</a>
			</li>
			<li class="footerNav__list__item">
				<a href="/solutions-for-business-partners" class="footerNav__link">Solutions for business partners</a>
			</li>
			<li class="footerNav__list__item">
				<a href="/cases" class="footerNav__link">Cases</a>
			</li>
			<li class="footerNav__list__item">
				<a href="/credits" class="footerNav__link">Credits</a>
			</li>
		</ul>
	</nav>
	
	<nav class="footerNav__item footerNav__item--secondary">
		<ul class="footerNav__list">
			<li class="footerNav__list__item">
				<a href="/about-us" class="footerNav__link">About us</a>
			</li>
			<li class="footerNav__list__item">
				<a href="/blog" class="footerNav__link">Blog</a>
			</li>
			<li class="footerNav__list__item">
				<a href="/contact" class="footerNav__link">Contact</a>
			</li>
		</ul>
	</nav>
	
	<div class="footerNav__item footerNav__item--tertiary">	
		<address class="footerNav__address">
			<a class="footerNav__address__link" href="tel:+3223034202">+32 2 303 4 202</a><br>
			<a class="footerNav__address__link" href="mailto:welcome@semasu.be">welcome@semasu.be</a><br>
				<span>Vuurgatstraat 120, 3090 Overijse</span>
		</address>

		<div class="footerNav__social">
			{% include './03_molecules/social.html.twig' %}
		</div>
	</div>
	
</div>