<div class="howWeWork bgc--neutrals-0">
	<div class="howWeWork__inner">
			
		<header class="howWeWork__header">
			<h2 class="howWeWork__title heading--3">How we work</h2>
			<span class="howWeWork__subtitle">The right tools for the job</span>
		</header>

		<div class="howWeWork__content">
			<div class="howWeWork__theBody">
				<p class="howWeWork__intro">The best application is the one that works for you and your organization. Choosing a tool should not be based on what is hip but on what it needs to do for you now and the near future.</p>
				<p>Yammer, Teams and SharePoint have lots of overlapping functionalities which makes it challenging to choose and manage afterwards. Going a step further, automating your business processes with PowerApps and Power Automate, and by now we lost you. We understand, but it is our mission to stay on top of things for you, making sure that you can focus on what matters: growing your business and doing what you are good at!</p>
				<p>At Semasu we help you to make the right choices for you and your company for years to come.</p>
			</div>

			<div class="howWeWork__symbolWrap">
				<div class="howWeWork__symbol">
					<img src="./dist/img/microsoft-sharepoint-symbol.png" alt="Microsoft Sharepoint">
				</div>
				
				<div class="howWeWork__symbol">
					<img src="./dist/img/yammer-symbol.png" alt="Yammer">
				</div>

				<div class="howWeWork__symbol">
					<img src="./dist/img/microsoft-teams-symbol.png" alt="Microsoft Teams">
				</div>

			</div>
		</div>
	</div>
</div>