
<div class="intro">
	<div class="intro__inner">
		
		<div class="intro__visual">
			<div class="intro__visual__bg" style="background-image: url(dist/img/semasu-train.jpg)"></div>
		</div>
	
		<div class="intro__content">
			<h2 class="heading heading--2">
				More teamwork<br/>
				More security<br/>
				More time<br/>
				More <span class="fc--theme-1"><strong>Microsoft 365</strong></span>
			</h2>
		</div>

	</div>
</div>