<nav class="legal">
    <ul class="legal__list">
        <li class="legal__list__item">
            <a href="/terms-and-conditions" class="legal__link">
				<span class="legal__label">
					terms &amp; conditions
				</span>
            </a>
        </li>

        <li class="legal__list__item">
            <a href="/cookies" class="legal__link">
				<span class="legal__label">
					cookies
				</span>
            </a>
        </li>

        <li class="legal__list__item">
            <a href="https://www.noticed.be/" target="_blank" class="legal__link">
				<span class="legal__label">designed &amp; developed by</span>
                <span class="fc--theme-1">Noticed</span>
            </a>
        </li>
    </ul>
</nav>