<nav class="mainNav">

	<ul class="mainNav__list dropdown">
		<li class="mainNav__list__item">
			<div class="mainNav__link dropdown__trigger">
				<span class="mainNav__label">Solutions</span>
				<span class="mainNav__symbol">{% include '02_atoms/symbols/chevron--down.html.twig' %}</span>
			</div>

			<ul class="mainNav__dropdownlist dropdown__target">
				<li class="mainNav__dropdownlist__item">
					<a href="/value-for-users" class="mainNav__dropdownlist__link">Value for users</a>
				</li>
				<li class="mainNav__dropdownlist__item">
					<a href="/solutions-for-business-partners" class="mainNav__dropdownlist__link">Solutions for business partners</a>
				</li>
			</ul>
		</li>

		<li class="mainNav__list__item">
			<a href="/cases" class="mainNav__link">
				<span class="mainNav__label">Cases</span>
				</a>
		</li>

		<li class="mainNav__list__item">
			<a href="/credits" class="mainNav__link">
				<span class="mainNav__label">Credits</span>
				</a>
		</li>
	</ul>
	
</nav>