<div class="quote">
	<blockquote class="quote__content">
		
		<p>{% block quotecontent %} Quote content {% endblock %}</p>
		
		<footer class="quote__author">{% block quoteauthor %} Quote name author {% endblock %}</footer>
	</blockquote>
</div>