<div class="social">
	<a href="https://www.facebook.com/semasuBE" target="_blank" class="social__link">
		<span class="social__label">Facebook</span>
	</a>
	<a href="https://www.linkedin.com/company/semasu/" target="_blank" class="social__link">
		<span class="social__label">Linkedin</span>
	</a>
	<a href="https://twitter.com/SemasuBE" target="_blank" class="social__link">
		<span class="social__label">Twitter</span>
	</a>
</div>