<div class="solutions">
	<div class="solutions__inner">
		
		<h2 class="solutions__title heading--3">Value for users</h2>

		<div class="solutions__summary">
			<p>Semasu helped us streamline our entire <strong>end-to-end delivery</strong>. From the bid process to aftercare, all our documents are centrally stored, structured and easily accessible.</p>
		</div>

		<div class="solutions__itemWrap">
			<div class="solutions__col">
				<div class="solutions__item">
					<div class="solutions__symbol"> 
						{% include '02_atoms/symbols/solutions.html.twig' %} 
					</div>

					<div class="solutions__item__inner">
						<blockquote class="solutions__quote">
							Semasu helped us streamline our entire <strong>end-to-end delivery</strong>. From the bid process to aftercare, all our documents are centrally stored, structured and easily accessible.
						</blockquote>
					</div>
			</div>
			</div>

			<div class="solutions__col">
				<div class="solutions__item">
					<div class="solutions__item__inner">
						<blockquote class="solutions__quote">
							Semasu is always within reach to address all our <strong>SharePoint, Teams and Yammer</strong> questions. Thanks to quick and comprehensive responses, we noticed an increase in collaboration initiatives.
						</blockquote>
					</div>
				</div>	

				<div class="solutions__item">
					<ul class="solutions__list">
						<li class="solutions__list__item">Structure your files and documents with folders, metadata, views and make them easy to find</li>
						<li class="solutions__list__item">Automate document approval, holiday requests and content classification</li>
						<li class="solutions__list__item">Securely share files with specific groups: your team, the management or people working on the same project</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="solutions__cta">
			<a href="/value-for-users" class="button button--ghost"><span class="button__label">Discover all user solutions</span></a>
		</div>

	</div>

	<div class="solutions__visual">
		<div class="solutions__visual__sizer">
			<div class="solutions__visual__reset">
				<img src="dist/img/semasu-solutions.jpg" alt="Solutions">
			</div>
		</div>
	</div>
</div>