<div id="the-experts" class="teamslider">	
	<div class="teamslider__inner">
		
		<div class="teamslider__track">	
			<div class="teamslider__slide active first">
				<div class="teamslider__slide__inner">
					
					<div class="teamslider__visual">
						<div class="teamslider__visual__sizer">
							<div class="teamslider__visual__reset">
								<img src="dist/img/semasu-team-1.jpg" alt="Semasu Team">
							</div>
						</div>
					</div>

					<div class="teamslider__content">
						<div class="teamslider__content__inner">
							<h3 class="teamslider__title">Jochem Claus</h3>
							<span class="teamslider__subtitle">Management consultant</span>

							<div class="teamslider__theBody">
								<p>To notice how businesses and people can work better, smarter and with a dose of fun, with solutions we have shaped together, that's what inspires me to wake up in the morning. Working with enthusiastic people who want to make a change with us is just energetic and confirms what we do is right.</p>
							</div>
						</div>
					</div>
				
				</div>
			</div>

			<div class="teamslider__slide last">
				<div class="teamslider__slide__inner">
					
					<div class="teamslider__visual">
						<div class="teamslider__visual__sizer">
							<div class="teamslider__visual__reset">
								<img src="dist/img/semasu-team-2.jpg" alt="Semasu Team Second Visual">
							</div>
						</div>
					</div>

					<div class="teamslider__content">
						<div class="teamslider__content__inner">
							<h3 class="teamslider__title">Dries Vandenbroeck</h3>
							<span class="teamslider__subtitle">Management consultant</span>

							<div class="teamslider__theBody">
								<p>There is nothing better than designing solutions together with your business until we get it right. At Semasu, we tweak our solutions over and over until we are all happy. And we love being flexible along the way because that's the right way to harmonize people and technology while keeping security in mind.</p>
							</div>
						</div>
					</div>
				
				</div>
			</div>

			{#<div class="teamslider__slide last">
				<div class="teamslider__slide__inner">
					
					<div class="teamslider__visual">
						<div class="teamslider__visual__sizer">
							<div class="teamslider__visual__reset">
								<img src="dist/img/semasu-intro-visual.jpg" alt="">		
							</div>
						</div>
					</div>

					<div class="teamslider__content">
						<div class="teamslider__content__inner">
							<h3 class="teamslider__title">Jochem Claus</h3>		
							<span class="teamslider__subtitle">Management consultant</span>	

							<div class="teamslider__theBody">
								<p>Iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril</p>
							</div>
						</div>
					</div>
				
				</div>
			</div>#}
		</div>
		
		{# <div class="teamslider__placeholder">
			<div class="teamslider__placeholder__inner"></div>
		</div> #}

		<div class="teamslider__controls">
			<span class="teamslider__controlBtn prev disabled" data-dir="prev">{% include '02_atoms/symbols/arrow--left.html.twig' %}</span>	
			<span class="teamslider__controlBtn next" data-dir="next">{% include '02_atoms/symbols/arrow--right.html.twig' %}</span>
		</div>

	</div>
</div>