<div class="video">
	<div class="video__inner">
		<div id="YTvideo" class="video__theVideo" data-ytid="https://www.youtube.com/watch?v=79X8LYjsEbY"></div>
		{#<img class="video__visual" src="dist/img/semasu-video-teamwork.jpg" />#}
		<div class="video__visual" style="background-image: url(dist/img/semasu-video-teamwork.jpg)"></div>

		<div class="video__button">
			<span class="video__symbol">{% include './02_atoms/symbols/playbtn.html.twig' %}</span>
		</div>
	</div>
</div>


