<div class="why">
	<h2 class="why__title heading--3">Why Semasu?</h2>
	
	<div class="why__inner accordeon">
		<div class="why__itemWrap">
		
			<div class="why__item accordeon__item">
				<div class="why__item__inner accordeon__trigger">
					<span class="why__item__symbol accordeon__symbol">
						<span></span>
						<span></span>
					</span>

					<h5 class="why__item__title">Dialogue and communication</h5>
				</div>
				
				<div class="why__content accordeon__target">
					<div class="why__content__inner">
						<p>Talking, discussing and communicating is the way! We are incredibly flexible and understand that businesses are moving faster than ever. Therefore communication and open dialogue are vital, no matter the situation.</p>
					</div>
				</div>
			</div>

			<div class="why__item accordeon__item">
				<div class="why__item__inner accordeon__trigger">
					<span class="why__item__symbol accordeon__symbol">
						<span></span>
						<span></span>
					</span>

					<h5 class="why__item__title">Hands-on approach</h5>
				</div>
				
				<div class="why__content accordeon__target">
					<div class="why__content__inner">
						<p>No long spun analyzing and study process, let us know what you need, and we visualize it. Formulating the solution is something we do together. And we change, adjust and ask for feedback until you are satisfied. Our agile approach is the most cost-efficient and the best way to get it right. There is no other way... </p>
					</div>
				</div>
			</div>
		</div>

		<div class="why__itemWrap">
			<div class="why__item accordeon__item">
				<div class="why__item__inner accordeon__trigger">
					<span class="why__item__symbol accordeon__symbol">
						<span></span>
						<span></span>
					</span>

					<h5 class="why__item__title">Easy support system</h5>
				</div>
				
				<div class="why__content accordeon__target">
					<div class="why__content__inner">
						<p>We have a unique support system. Whether you are new to Semasu or already a part of the Semasu family, you can purchase our credit plans and get instant access to our experts.</p>
						<a href="/credits" class="why__link">
							<span class="why__link__label">Read more</span>
						</a>
					</div>
				</div>
			</div>

			<div class="why__item accordeon__item">
				<div class="why__item__inner accordeon__trigger">
					<span class="why__item__symbol accordeon__symbol">
						<span></span>
						<span></span>
					</span>

					<h5 class="why__item__title">Quality and service are part of our DNA</h5>
				</div>
				
				<div class="why__content accordeon__target">
					<div class="why__content__inner">
						<p>The cornerstone of Semasu is service: we understand, we listen, we deliver. No surprises (except for good ones). Because we are passionate about what we do, quality is something that happens naturally.</p>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>