.pager {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 0 gap('large');
}

.pager__list {
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}

.pager__navs {
	@include media('large') {
		padding: 0 gap('small');
	}
	transition: all 250ms ease;
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	padding: 0 gap('xxsmall');

	&.is-hidden {
		display: none;
	}

	&.prev {
		right: 100%;

		&:hover {
			right: 102%;
		}
	}

	&.next {
		left: 100%;

		&:hover {
			left: 102%;
		}
	}
}

.pager__navs__symbol {
	display: block;
	width: 20px;
	height: 20px;
}

.pager__list__item {
	@include media('large') {
		padding: 0 gap('small');
	}

	padding: 0 gap('xxsmall');
}

.pager__link {
	@include media('large') {
		font-size: titleSize('h3');
	}

	transition: opacity 500ms ease;
	display: block;
	padding: gap('xxsmall');
	color: color('neutrals-0');
	font-family: font('bold');
	font-size: fontSize('xlarge');
	line-height: 1;
	text-decoration: none;
	opacity: .4;

	.pager-is-active &,
	&:hover {
		opacity: 1;
	}
}
