{% extends "./00_globals/master.html.twig" %}

{% block title %}Terms &amp; conditions{% endblock %}
{% block ogtitle %}Terms &amp; conditions{% endblock %}
{% block colormode %}darkMode{% endblock %}

{% block content %}

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Terms &amp; conditions {% endblock %}
                {% block maincontentintro %}
                    <p>General Terms and conditions</p>
                {% endblock %}
                {% block maincontentbody %}
                    <p>These general terms and conditions ("General Terms and Conditions") are of Semasu, Peaberry BVBA,
                        with registered office at Vuurgatstraat 120, 3090 Overijse, Belgium, VAT BE 0525.963.494
                        ("commercially known as Semasu"), and all its legal successors.</p>
                    <p><strong>Semasu</strong>
                        <br>Peaberry bvba
                        <br>Vuurgatstraat 120
                        <br>3090 OVERIJSE
                        <br>VAT BE 0525.963.494
                    </p>
                    <p>otherwise known as the Semasu </p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} General {% endblock %}
                {% block maincontentbody %}
                    <p>These General Terms and Conditions apply to all offers, proposals, quotations ("Offer"), orders,
                        agreements and deliveries concerning the delivery of goods and/or services by Semasu to its
                        customer. Deviations from these General Terms and Conditions are only opposable to Semasu if
                        Semasu has accepted them explicitly and in writing. In that case, the other provisions of these
                        General Terms and Conditions remain fully applicable. The Client cannot derive any rights for
                        other or future transactions from agreed deviations. The application of any general terms and
                        conditions of the customer is explicitly excluded, unless otherwise agreed in writing.</p>
                    <p>By placing an order by the Client, by the Client's acceptance of a Quotation, or by the signing
                        or (start of) execution of the agreement by Semasu or the Client, the Client unconditionally and
                        irrevocably accepts these General Terms and Conditions, which are binding.</p>
                    <p>These Terms and Conditions are valid from January 1, 2020, and replace all previous ones.
                        The Client may not transfer its agreement or any part of it to a third party without the express
                        written consent of Semasu.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Quotations and orders  {% endblock %}
                {% block maincontentintro %}
                    <p>Quotations</p>
                {% endblock %}
                {% block maincontentbody %}
                    <p>All quotations are non-binding and only apply to the B2B market.
                        Unless explicitly stated otherwise, every Offer is valid for 30 calendar days after the date of
                        the
                        Offer and automatically expires upon the expiry of this period.</p>
                    <p>All deadlines, references to technical data or other elements mentioned in an Offer are purely
                        indicative and not binding for the execution of the Offer, unless otherwise agreed in writing.
                        Semasu has the right to correct errors in the Offer or to withdraw the Offer at any time.</p>
                    <p>Semasu cannot be held liable for the exceeding of deadlines or the modification of data or
                        elements,
                        and this is not a valid ground for cancellation, dissolution or suspension of the execution of
                        the
                        agreement by the Client, nor can it give rise to any price reduction or compensation. Semasu
                        will
                        inform the Client to the best of its ability about the (suspected) exceeding of a term or the
                        adaptation of data or elements.</p>
                    <p>The Offer is based on the information provided by the Customer. If it appears that the data are
                        not
                        correct, the Customer will be informed. If Semasu has to provide additional services for this
                        purpose, an additional Offer will be made to the Client. Semasu reserves the right to suspend
                        the
                        entire execution pending agreement on the additional services.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %}  {% endblock %}
                {% block maincontentintro %}
                    <p>Orders</p>
                {% endblock %}
                {% block maincontentbody %}
                    <p>By placing the order or confirming the Offer, the Customer acknowledges to be fully informed and
                        to understand what is stated in the Offer. All orders placed by the Customer are binding to the
                        Customer. Semasu shall only be bound by an order from the Client if Semasu has explicitly
                        confirmed in writing that it accepts it. The agreement is only concluded after acceptance of the
                        order.</p>
                    <p>By placing the order or confirming the Offer, the Customer acknowledges to be fully informed and
                        to understand what is stated in the Offer. All orders placed by the Customer are binding to the
                        Customer. Semasu shall only be bound by an order from the Client if Semasu has explicitly
                        confirmed in writing that it accepts it. The agreement is only concluded after acceptance of the
                        order.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Delivery of goods and services  {% endblock %}
                {% block maincontentbody %}
                    <p>The Customer accepts partial deliveries of goods and services. Partial invoices may be issued for
                        this.
                        The signing by the Customer of the delivery note implies the (completion) delivery and
                        acceptance of the delivered goods or services.</p>
                    <p>The risk relating to goods passes to the Customer at the time of delivery. The risk relating to
                        services is transferred to the Client upon delivery or acceptance of the service. If the Client
                        does not sign the delivery note, the risk passes from the day when Semasu has delivered the
                        goods or announces the execution of the services.</p>
                    <p>The transfer of ownership of the goods will only take place when the price has been paid in full,
                        and any interest and compensation for late payment has been paid.</p>
                    <p>Semasu reserves the right to make sure technical improvements or adaptations to the ordered goods
                        or services during delivery in accordance with legal regulations, to the extent that this does
                        not involve significant changes or to the extent that this is necessary. If during the execution
                        of the services, it appears that the Quotation cannot technically be executed, Semasu is not
                        obliged to execute the Quotation, and it can be canceled without any compensation.</p>
                    <p>Semasu has the right to call upon third parties for the execution of certain services, without
                        the need for permission from or notification to the Client. </p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Obligations of the customer  {% endblock %}
                {% block maincontentbody %}
                    <p>The Client shall make all information and documents necessary for the execution of the assignment
                        available to Semasu in a timely manner and shall cooperate in the execution of the assignment in
                        the required manner, in accordance with the applicable rules and legislation.</p>
                    <p>The Client must be in possession of the necessary licenses for all software used by him,
                        including third-party software. The Client shall at all times indemnify Semasu against all
                        possible claims of third parties with regard to this software. The Client shall also ensure that
                        its hardware complies with the minimum requirements specified by Semasu.</p>
                    <p>The Client undertakes to give the employee of Semasu who is in charge of the performance during
                        normal working hours and in accordance with the access rules of the Client's company access to
                        all rooms, installations (hardware, software, networks, etc.) and means necessary to allow
                        Semasu to perform the performance in a prescribed manner. If the Client does not comply with
                        these obligations, the term will be extended, and the price may also be adjusted.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Prices, invoices and payments   {% endblock %}
                {% block maincontentbody %}
                    <p>All prices and other amounts are expressed in euros and exclude VAT and other taxes and levies.
                        If these taxes and levies increase after the conclusion of the agreement, this can be passed on
                        to the Customer. Any surcharges and updates will be charged at the rates applicable at that
                        time.</p>
                    <p>Unless otherwise stipulated in the Offer, the goods shall be charged at fixed prices, and the
                        services shall be performed at hourly rates (at the rates applied at that time) or at the fixed
                        price indicated in the Offer. Other costs will be charged additionally. An Offer can always be
                        requested from Semasu at <a href="mailto:info@semasu.be">info@semasu.be</a></p>
                    <p>All invoices are payable to the address of the registered office, on the due date and the account
                        number as stated on the invoices. Appointees are not authorized to receive payments. One or more
                        advance payments may be requested in the form of a fixed rate or on the basis of an hourly rate
                        before the start and during the execution of the assignment. These deposits will be deducted
                        from the final invoice.</p>
                    <p>In the event of non-payment on the due date, the Customer shall automatically and without further
                        notice owe interest of 10% on the total amount of the invoice on an annual basis. In addition,
                        in the event of non-payment or partial non-payment of an invoice within one month of the due
                        date, the Client shall be liable by operation of law and without further notice of default to
                        pay compensation of 10% of the total amount of the invoice, with a minimum of 250 euros. All
                        judicial and extrajudicial collection costs of invoices are for the account of the Customer,
                        with a minimum amount due of 10% of the total amount of each invoice. If an invoice is not paid
                        on its due date, Semasu has the right to (i) suspend its obligations and to terminate these and
                        all other agreements with the Client and (ii) the outstanding balance of all other invoices,
                        even if not yet due, becomes immediately due and payable. The Client is not entitled to set off
                        debts towards Semasu.</p>
                    <p>Complaints concerning invoices must be made by registered letter, stating the reasons, within 7
                        calendar days of the date of the invoice. In the absence of a timely complaint, the invoice
                        shall be deemed to have been definitively accepted.</p>
                    <p>The Client can only suspend a payment if he demonstrates that Semasu has not fulfilled a
                        contractual obligation and if he has informed Semasu thereof in advance by registered letter. In
                        any case, the amount of the suspended payment can only relate to that part of the goods or
                        services that relates to the alleged violation of the contractual obligation. A suspension of
                        payment by the Customer is only possible if (the part) of the good or service is separately
                        identifiable on an invoice.</p>
                    <p>In the event of late payment of invoices, the Client undertakes to allow Semasu, without prior
                        notice, to repossess the delivered goods immediately, to allow Semasu access to its premises for
                        that purpose and to carry all transport costs.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Force majeure {% endblock %}
                {% block maincontentbody %}
                    <p>Semasu is not obliged to comply with contractual obligations, the performance of which has become
                        impossible. In any case, Semasu cannot be held liable for non-compliance with its contractual
                        obligations or resulting damages of the Client as a result of strikes, total or partial
                        stagnation of transport, electricity and telecommunication disturbances, business disturbances,
                        failure and/or force majeure of its suppliers, licensing requirements and other legal and
                        administrative requirements, all of which are considered as force majeure.</p>
                    <p>If the force majeure situation lasts or threatens to last longer than 10 working days, Semasu has
                        the right, by operation of law, to dissolve the agreement immediately by registered letter,
                        without a prior appeal to a judge and without any compensation. In such a case, Semasu will be
                        entitled to the payment by the Client of all goods or services already delivered and of the
                        costs already incurred with a view to the future execution of the agreement.</p>
                    <p>Semasu's failure to fulfill its contractual obligations as a result of such force majeure
                        situations does not give rise to the termination, dissolution or suspension of the execution of
                        the agreement by the Client, nor does it entitle the Client to a price reduction or
                        compensation.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Confidential information {% endblock %}
                {% block maincontentbody %}
                    <p>The parties shall treat all information, obtained orally or in writing, in any form whatsoever,
                        which can reasonably be assumed to be confidential, as strictly confidential and shall not
                        disclose it to third parties without the prior, explicit and written consent of the other party,
                        unless this is required by law or judicial authorities. In the latter case, the disclosing party
                        shall immediately inform the other party.</p>
                    <p>Semasu shall have the right to disclose the existence of the agreement with the Client for
                        publicity and other commercial purposes.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Intellectual and property rights and data protection  {% endblock %}
                {% block maincontentbody %}
                    <p>Any intellectual, industrial or other property right (whether registered or not) in works, goods
                        or services owned, used or created by Semasu, its employees, consultants or subcontractors in
                        the course of executing the agreement (including software, material, technology, skills,
                        know-how and information about its use) shall remain the exclusive property of or in use by
                        Semasu and/or its licensors, as the case may be. The delivery of goods and/or services by Semasu
                        to the Customer does not imply any transfer of any such right. The fees paid by the Customer do
                        not constitute payment for the transfer of any such right.</p>
                    <p>If the Customer acquires a user license from Semasu or through Semasu from a third party, the
                        Customer may only use it in accordance with the terms of this user license.</p>
                    <p>In case the Customer provides material, such as software, texts, images, etc. within the
                        framework of the execution of the order, the Customer guarantees that the use of such material
                        does not infringe any intellectual property rights.</p>
                    <p>If the parties have nevertheless explicitly and in writing agreed on the transfer of such rights,
                        Semasu shall remain the holder of such rights until the moment of payment by the Client of the
                        full price and all additional costs (including interest and damages for late payment of
                        invoices).</p>
                    <p>The parties will only process, use or store personal data for contractually determined purposes
                        in accordance with the applicable legislation.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Guarantees  {% endblock %}
                {% block maincontentbody %}
                    <p>All contractual obligations of Semasu are effort commitments. Semasu makes no representations or
                        warranties of any kind, express or implied, with respect to the goods or services, including any
                        warranties of suitability for a particular purpose, result or merchantability, and any software
                        is provided to the Customer "as is".</p>
                    <p>The Customer shall at all times take the necessary measures to safeguard the integrity, safety,
                        and maintenance of the software, hardware, and all other materials.</p>
                    <p>In the event of an alleged malfunction of the goods or services, the Customer shall actively
                        cooperate in all investigations aimed at identifying the cause of the malfunction and shall take
                        all measures to safeguard evidence that may be relevant.</p>
                    <p>All goods or services supplied to the Customer by a subcontractor of Semasu or to Semasu by a
                        third party and which Semasu in turn supplies to the Customer, are only subject to the warranty
                        and liability conditions that apply between this subcontractor or third party and Semasu.</p>
                    <p>The Customer must immediately inspect the goods and services for defects upon delivery or
                        acceptance. In case of any visible defects, the Customer must notify Semasu of these defects
                        within a period of 7 days after delivery or acceptance or in case of hidden defects in goods,
                        within 2 days after discovery of hidden defects and in any case within 2 months after delivery
                        of these goods, by means of a motivated registered letter. Semasu is only liable for a defect in
                        the delivered goods or services that exists at the moment of delivery, and that manifests itself
                        within a period of 2 months after delivery. In case of a defect, the Customer is not entitled to
                        any compensation. The Client is only entitled to the free repair of the good or service or the
                        free replacement of the good or service, at the discretion of Semasu. If the replacement or
                        improvement free of charge is impossible or disproportionate, the Customer only has the right to
                        demand an appropriate price reduction.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Liability   {% endblock %}
                {% block maincontentbody %}
                    <p>Semasu shall not be liable for any consequential or indirect damage or loss, loss of data,
                        recovery of data, profit, income, revenue or other financial or commercial losses, whether
                        arising from non-compliance with its obligations. Semasu is also not liable in case of damage
                        suffered as a result of actions or lack of actions that are not exclusively and directly
                        attributable to Semasu.</p>
                    <p>In any case, Semasu's liability towards the Customer is limited to 1000 euros per incident, on
                        the understanding that Semasu's total liability arising from the agreement is always limited to
                        20% of the total value of the agreement.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Duration and dissolution   {% endblock %}
                {% block maincontentbody %}
                    <p>The duration of the contract is in principle until the end of the project, unless a different
                        duration has been expressly agreed in writing.</p>
                    <p>In any case, Semasu has the right to immediately terminate the agreement early without any
                        compensation, without further notice or proof of default and without prior recourse to a court
                        of law if: (a) the Client is in breach of a contractual obligation and does not adequately
                        remedy it within a period of 10 working days after Semasu's notification of the breach, (b) in
                        the event of (petition for) bankruptcy, dissolution, liquidation or becoming insolvent of the
                        Client, or (c) if the legal control over the Client changes.</p>
                    <p>In the event of early termination of the contract, all amounts due, even from invoices not yet
                        due or issued, shall be payable immediately.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Non-acquisition services {% endblock %}
                {% block maincontentbody %}
                    <p>During the term and for 12 months after the termination of the agreement, the Client shall not
                        employ, hire or directly or indirectly approach employees, consultants, representatives or
                        subcontractors of Semasu or their personnel involved in the execution of the agreement,
                        regardless of their status, with a view to recruitment or direct or indirect cooperation in any
                        form whatsoever.</p>
                    <p>If the Client violates this article, he shall be automatically liable for a fixed compensation
                        for each violation equal to the total gross salary of the employee, consultant, representative
                        or subcontractor concerned over a period of 12 months prior to the non-compliance with this
                        article by the Client, which the parties consider to be an estimate of the reasonable damage
                        resulting from a violation of this article.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

    <section class="terms__primary bgc--light">
        <div class="section--xlarge">
            {% embed './04_organisms/mainContent.html.twig' with { 'fcColor' : 'fc--theme-4' } %}
                {% block maincontenttitle %} Applicable law and competent jurisdiction  {% endblock %}
                {% block maincontentbody %}
                    <p>These General Terms and Conditions and any other contractual provisions between Semasu and the
                        Client are governed by Belgian law.</p>
                    <p>The non-legality of any of the above articles shall not result in the nullity of the entire
                        contract. In this case, both parties review the provisions of the article in question with a
                        view to preserving the spirit of this contract.</p>
                    <p>Any disputes arising within the framework of this agreement may only be brought before the courts
                        of RPR Brussels.</p>
                {% endblock %}
            {% endembed %}
        </div>
    </section>

{% endblock %}