<div class="businessIntro">
		
	<div class="businessIntro__inner">
		
		<div class="businessIntro__content">
			<header class="businessIntro__header">
				<h2 class="heading--1">What we stand for</h2>
			</header>
			
			<div class="businessIntro__keywords">
				<ul class="businessIntro__keywords__list">
					<li class="businessIntro__keywords__listitem">
						<span class="businessIntro__symbol">{% include './02_atoms/symbols/check.html.twig' with { 'symbolFill' : 'fill--theme-3' } %}</span>
						<span class="businessIntro__keywords__label">Boldness</span>
					</li>

					<li class="businessIntro__keywords__listitem">
						<span class="businessIntro__symbol">{% include './02_atoms/symbols/check.html.twig' with { 'symbolFill' : 'fill--theme-3' } %}</span>
						<span class="businessIntro__keywords__label">Commitment</span>
					</li>

					<li class="businessIntro__keywords__listitem">
						<span class="businessIntro__symbol">{% include './02_atoms/symbols/check.html.twig' with { 'symbolFill' : 'fill--theme-3' } %}</span>
						<span class="businessIntro__keywords__label">Collaboration</span>
					</li>

					<li class="businessIntro__keywords__listitem">
						<span class="businessIntro__symbol">{% include './02_atoms/symbols/check.html.twig' with { 'symbolFill' : 'fill--theme-3' } %}</span>
						<span class="businessIntro__keywords__label">Quality</span>
					</li>

					<li class="businessIntro__keywords__listitem">
						<span class="businessIntro__symbol">{% include './02_atoms/symbols/check.html.twig' with { 'symbolFill' : 'fill--theme-3' } %}</span>
						<span class="businessIntro__keywords__label">Innovation</span>
					</li>

					<li class="businessIntro__keywords__listitem">
						<span class="businessIntro__symbol">{% include './02_atoms/symbols/check.html.twig' with { 'symbolFill' : 'fill--theme-3' } %}</span>
						<span class="businessIntro__keywords__label">Trust</span>
					</li>

					<li class="businessIntro__keywords__listitem">
						<span class="businessIntro__symbol">{% include './02_atoms/symbols/check.html.twig' with { 'symbolFill' : 'fill--theme-3' } %}</span>
						<span class="businessIntro__keywords__label">Transparency</span>
					</li>

					<li class="businessIntro__keywords__listitem">
						<span class="businessIntro__symbol">{% include './02_atoms/symbols/check.html.twig' with { 'symbolFill' : 'fill--theme-3' } %}</span>
						<span class="businessIntro__keywords__label">Simplicity</span>
					</li>
				</ul>
			</div>

		</div>
		
		<div class="businessIntro__visual">
			<div class="businessIntro__visual__sizer">
				<div class="businessIntro__visual__inner">
					<div class="businessIntro__visual__reset">
						<img src="dist/img/semasu-business-solutions.jpg" alt="Semasu Business Solutions">
					</div>
				</div>
			</div>
		</div>
	
	</div>	
</div>