<div class="creditplan">
	<div class="creditplan__inner">
		
		<div class="creditplan__itemWrap">
			
			<div class="creditplan__item first">
				<div class="creditplan__step">
					<span class="creditplan__step__label">1</span>
				</div>

				<div class="creditplan__item__inner">
					<h3 class="creditplan__title">Choose a credit plan</h3>
					
					<div class="creditplan__content">
						<p>We have three credit plans available, covering support on all Microsoft 365 applications. Purchase the one that best serves your needs, and you're good to go.</p>
					</div>

					<div class="creditplan__check">
						<div class="creditplan__check__item">
							<span class="creditplan__check__symbol">{% include './02_atoms/symbols/checkCircle.html.twig' %}</span>
							<span class="creditplan__check__label">From explorer to premium: it's up to you!</span>
						</div>
					</div>

					<div class="creditplan__cta">
						<a href="/contact" class="button inverted">
							<span class="button__label">Looking for Enterprise Support? Get in touch</span>
						</a>
					</div>
				</div>
			</div>

			<div class="creditplan__item second">
				<div class="creditplan__step">
					<span class="creditplan__step__label">2</span>
				</div>

				<div class="creditplan__item__inner">
					<h3 class="creditplan__title">Ask a question</h3>
					
					<div class="creditplan__content">
						<p>Questions? They occur... If you need any information or help, Semasu is at your service!</p>
					</div>
				</div>
			</div>
			
			<div class="creditplan__item third">
				<div class="creditplan__step">
					<span class="creditplan__step__label">3</span>
				</div>

				<div class="creditplan__item__inner">
					<h3 class="creditplan__title">Let’s talk!</h3>
					
					<div class="creditplan__content">
						<p>We are ready to provide you with the right answers. We will be in touch with you and decide what works best for you.</p>
					</div>

					<div class="creditplan__check">
						<div class="creditplan__check__item">
							<span class="creditplan__check__symbol">{% include './02_atoms/symbols/checkCircle.html.twig' %}</span>
							<span class="creditplan__check__label">Phone</span>
						</div>

						<div class="creditplan__check__item">
							<span class="creditplan__check__symbol">{% include './02_atoms/symbols/checkCircle.html.twig' %}</span>
							<span class="creditplan__check__label">Mail</span>
						</div>

						<div class="creditplan__check__item">
							<span class="creditplan__check__symbol">{% include './02_atoms/symbols/checkCircle.html.twig' %}</span>
							<span class="creditplan__check__label">Chat</span>
						</div>

						<div class="creditplan__check__item">
							<span class="creditplan__check__symbol">{% include './02_atoms/symbols/checkCircle.html.twig' %}</span>
							<span class="creditplan__check__label">Screen sharing</span>
						</div>
					</div>
				</div>
			</div>

		</div>

		{% include './02_atoms/rectangle.html.twig' %}	
	
	</div>
</div>