<div class="testimonies">

	<div class="testimonies__visual">
		<div class="testimonies__visual__bg" style="background-image: url(dist/img/semasu-people-meeting.jpg)">
			<div class="testimonies__cta">
				<a href="/cases" class="button button--ghost"><span class="button__label">More cases</span></a>
			</div>
		</div>
	</div>

	<div class="testimonies__inner">
		<div class="testimonies__content">
			
			<h2 class="testimonies__title heading--1">Get inspired</h2>

			<div class="testimonies__itemWrap">
				<div class="testimonies__item">
					<a href="/cases/streamlining-collaboration" class="testimonies__item__inner">
						<span class="testimonies__item__label">Case</span>

						<h4 class="testimonies__item__title heading--4">From bid through maintenance in a structured and transparent way</h4>
					</a>
				</div>	

				<div class="testimonies__item">
					<div class="testimonies__item__inner">
						<a href="/cases/digital-enabler" class="testimonies__item__inner">
							<span class="testimonies__item__label">Case</span>
							<h4 class="testimonies__item__title heading--4">Digital community with ideas, journeys and project updatess</h4>
						</a>
					</div>	
				</div>

				<div class="testimonies__item">
					<div class="testimonies__item__inner">
						<a href="/cases/managing-patents-in-sharepoint" class="testimonies__item__inner">
							<span class="testimonies__item__label">Case</span>
							<h4 class="testimonies__item__title heading--4">Patent management solution in SharePoint to replace expensive external application.</h4>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	
</div>