<div class="usersIntro">
		
	<div class="usersIntro__inner">
		
		<header class="usersIntro__header">
			<h2 class="heading--1">Everything you need to know about Microsoft 365</h2>
			<h4 class="heading--4 usersIntro__subtitle">Let us guide you and show you the way</h4>
		</header>
	
		<div class="usersIntro__visual">
			<div class="usersIntro__visual__sizer">
				<div class="usersIntro__visual__inner">
					<div class="usersIntro__visual__reset">
						<img src="dist/img/semasu-solutions-landscape.jpg" alt="Semasu Solutions Landscape">
					</div>
				</div>
			</div>
		</div>

	</div>	
</div>